{{- define "CategoryTOC" -}}
{{- range . }}
{{- $indent := mul .Depth 4 }}{{- printf "%*s" $indent "" }}- [{{ .Title }}](##aaaa) {{ if .Items -}}({{ len .Items }}){{- end }}
{{ if .Categories -}}
{{ template "CategoryTOC" .Categories }}
{{- end -}}
{{ end -}}
{{- end -}}

{{- define "CategoryView" -}}
{{- range . }}
##{{- repeat .Depth "#" }} {{ .Title }}
{{ if .Items -}}
{{- range .Items }}
- [{{ .Name }}]({{ .Link }}) - {{ .AISummary }}
{{- end }}
{{- end }}
{{ if .Categories -}}
{{ template "CategoryView" .Categories }}
{{- end -}}
{{ end -}}
{{- end -}}


# Awesome ChatGPT

A curated list of awesome ChatGPT and OpenAI software.

{{ template "CategoryTOC" .Categories }}

{{ template "CategoryView" .Categories }}

## License

[<img src="http://mirrors.creativecommons.org/presskit/buttons/88x31/svg/cc-zero.svg">](https://creativecommons.org/publicdomain/zero/1.0/)
